#logo{
}

body{
    background-color: #ebeff5;
}

#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}